.loginComponent{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
form{
    height: 100%;

    
}

.loginWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.loginWrapperMain{
    height: 100%;
}