.loginComponent{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}
form{
    height: 100%;
}

.loginWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.loginWrapperMain{
    height: 100%;
}